h1 {
  color: #3e1c68;
  font-size: 50px;
}

body {
  background-image: "https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-grey-silver-gradient-backdrop_bujnrsxje_thumbnail-full01.png";
}

button[type=submit] {
    width: 20em;  height: 2em; font-size: 20px;
}

h2 {
  font-size: 35px;
}

h4 {
  font-size: 25px;
}

li {
  font-size: 20px;
}

