<!DOCTYPE html>
<html lang="en">
  <head><title>Loaded Cauliflower Bites</title></head>
  <body>
    
    <h1>Loaded Cauliflower Bites</h1>
<h2>Recipe: Ingredients</h2>
<li>½ cup shredded Cheddar cheese
<li>Lucerne Medium Cheddar Shredded Cheese 32 Oz</li>
<li> ¼ cup sour cream3 slices cooked bacon</li><li>crumbled
Smithfield Naturally Hickory Smoked Thick Cut Bacon</li> 
<li>¼ cup sliced scallion greens</li>
<h2>Recipe: Preparation</h2>
<li>Preparation
<<<<<<< HEAD

Ready In 25 mintutes
=======
Prep

25 mintutes
Ready In
>>>>>>> cfa61baa97c2082a7b554c3a415fad4400bbe704

35 minutes
<li>Preheat oven to 450°F.</li><li>Stir oil, salt and pepper together in a large bowl.</li><li>Add cauliflower slices and gently toss to coat.</li><li>Transfer to a large rimmed baking sheet and roast until tender, 10 to 14 minutes.</li><li>Top with cheese, return to the oven and roast until the cheese has melted, 1 to 2 minutes.</li><li>Top with cheese, return to the oven and roast until the cheese has melted, 1 to 2 minutes.</li>
</li>

  </body>
</html>