<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Pumpkin Pie Egg Rolls</title></head>
  <body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-grey-silver-gradient-backdrop_bujnrsxje_thumbnail-full01.png">
    <center>
<h1>Pumpkin Pie Egg Rolls</h1>
<img src="https://www.cookincanuck.com/wp-content/uploads/2014/11/Baked-Pumpkin-Pie-Egg-Rolls.jpg">
<h2>Recipe: Ingredients</h2>
<li>Ingredients 8 servings</liv>
<li>¾ cup unseasoned pumpkin puree</li><li>½ cup part-skim ricotta cheese</li>
<li>Galbani Whole Milk Ricotta Cheese 32 Oz</li>
<li>¼ cup brown sugar1 teaspoon vanilla extract</li><li>½ teaspoon ground cinnamon</li><li>teaspoon ground nutmeg <li>Pinch of salt</li><li>8 egg roll wrappers.</li><li>¼ cup coconut oil</li><li></li>2 tablespoons sugar</li>
<h2>Recipe: Preparation</h2>
Preparation

Ready In 35 Minutes
<li>Whisk pumpkin, ricotta, brown sugar, vanilla, cinnamon, nutmeg and salt together in a medium bowl</li><li>Place an egg roll wrapper on a clean work surface with one corner facing you</li><li>Lightly brush the edges with water.</li><li>Place a very generous 2 tablespoons of the pumpkin filling in a 3-by-1-inch log in the center, parallel to you</li><li>Fold both sides of the wrapper over the filling, then fold in the bottom corner and roll up as tightly as possible.</li><li>Place on a parchment paper-lined plate.</li><li>Repeat with the remaining wrappers and filling</li><li>Heat oil in a large skillet over medium heat until shimmering.</li><li> Add the rolls and cook, turning frequently, until golden brown on all sides, 4 to 7 minutes total.</li><li>Sprinkle the hot rolls with sugar.</li>
    </center>
  </body>
</html>