<!DOCTYPE html>
<html lang="en">
  <head><title>title</title></head>
  <body>

<h1>allergy meals</h1>
<!---loaded cauliflower bites

pumpkin pie egg rolls--->

<form method="get" action="/allergy-1">
<button type="submit">loaded cauliflower bites</button>
</form>
<form method="get" action="/allergy-2">
<button type="submit">pumpkin pie egg rolls</button>
</form>

  </body>
</html>