<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Allergy Meals</title></head>
  <body>

<h1>Allergy Meals</h1>
<!---loaded cauliflower bites

pumpkin pie egg rolls--->

<form method="get" action="/allergy-1">
<button type="submit">Loaded Cauliflower Bites</button>
</form>
<form method="get" action="/allergy-2">
<button type="submit">Pumpkin Pie Egg Rolls</button>
</form>

  </body>
</html>