<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
     <link rel="icon" href="http://www.pngall.com/wp-content/uploads/2016/04/Potato-High-Quality-PNG.png">
    <title>Allergy Meals</title></head>
 <body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-grey-silver-gradient-backdrop_bujnrsxje_thumbnail-full01.png">
   <form method="get" action="/">
<button type="submit">Home</button>
</form>
<center>
<h1>Allergy Meals</h1>
<!---loaded cauliflower bites

pumpkin pie egg rolls--->
<img src="https://media1.giphy.com/media/C9rvXpGJGUOfPTyoGk/giphy.gif">
<form method="get" action="/allergy-1">
<button type="submit">Loaded Cauliflower Bites</button>
</form>
<form method="get" action="/allergy-2">
<button type="submit">Pumpkin Pie Egg Rolls</button>
</form>
</center>
  </body>
</html>