<h1> food </h1>
<form method="get" action="/vegan-meals">
<button type="submit">vegan</button>
</form>
<form method="get" action="/vegetarian-meals">
<button type="submit">vegetarian</button>
</form>
<form method="get" action="/allergy-meals">
<button type="submit">allergies</button>
</form>
<form method="get" action="/regular-meals">
<button type="submit">regular</button>
</form>