<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Food</title></head>
  <body>

<h1>Food</h1>
<form method="get" action="/vegan-meals">
<button type="submit">Vegan</button>
</form>
<form method="get" action="/vegetarian-meals">
<button type="submit">Vegetarian</button>
</form>
<form method="get" action="/allergy-meals">
<button type="submit">Allergies</button>
</form>
<form method="get" action="/regular-meals">
<button type="submit">Regular</button>
</form>
    
  </body>
</html>