<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
     <link rel="icon" href="http://www.pngall.com/wp-content/uploads/2016/04/Potato-High-Quality-PNG.png">
    <title>Food</title></head>
  <body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-grey-silver-gradient-backdrop_bujnrsxje_thumbnail-full01.png">
<center>
<h1>Food</h1>
<img src="https://media1.giphy.com/media/l378qTmZKLX2Mu7wk/giphy.gif">
<form method="get" action="/vegan-meals">
<button type="submit">Vegan</button>
</form>
<form method="get" action="/vegetarian-meals">
<button type="submit">Vegetarian</button>
</form>
<form method="get" action="/allergy-meals">
<button type="submit">Allergies</button>
</form>
<form method="get" action="/regular-meals">
<button type="submit">Regular</button>
</form>
    </center>
    
  </body>
</html>