<h1>gospel artists</h1>

<!---tamela mann
kirk franklin--->

<form method="get" action="/tamela-mann">
<button type="submit">tamela mann</button>
</form>
<form method="get" action="/kirk-franklin">
<button type="submit">kirk franklin</button>
</form>