<!DOCTYPE html>
<html lang="en">
 <head>
   <link rel="stylesheet" href="css/style.css">
   <title>Kirk Franklin</title></head>
<body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-grey-silver-gradient-backdrop_bujnrsxje_thumbnail-full01.png">
<center>
<h1>Kirk Franklin</h1>
   
   <ul><li>Losing My Religion</li>
   <li>God's Property from Kirk Franklin's Nu Nation</li>
   <li>The Nu Nation Project</li>
   <li>Hello Fear</li>
   <li>The Rebirth of Kirk Franklin</li>
   <li>Hero</li>
   <li>The Fight of My Life</li>
   <li>Kirk Franklin Presents 1NC</li>
   <li>Kirk Franklin Presents: Songs for the Storm Vol. 1</li>
   <li>A Season of Remixes</li>
   <li>The Essential Kirk Franklin</li></ul>
   </center>
 </body>
</html>