<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/style.css">
  <title>Tamela Mann</title></head>
  <center>
<body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-grey-silver-gradient-backdrop_bujnrsxje_thumbnail-full01.png">
<h1>Tamela Mann's Albums
</h1>
<ul><li>One Way
<li>Best Days</li>
<li>Gotta Keepp Movin'</li>
<li>The Master Plan</li>
<li>The Live Experience</li>
<li>Watcha Lookin 4</li>
<li>Kirk Franklin & the Family Christmas</li>
<li>Kirk Franlin and the Family</li></ul>
</center>
</body>
</html>