<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Gospel Artists</title></head>
  <body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-grey-silver-gradient-backdrop_bujnrsxje_thumbnail-full01.png">
    
<center>
<h1>Gospel Artists</h1>

<!---tamela mann
kirk franklin--->

<form method="get" action="/gospel-1">
<button type="submit">Tamela Mann</button>
</form>
<form method="get" action="/gospel-2">
<button type="submit">Kirk Franklin</button>
</form>
</center>

  </body>
</html>