<h1>gospel artists</h1>

<!---tamela mann
kirk franklin--->

<form method="get" action="/gospel-1">
<button type="submit">tamela mann</button>
</form>
<form method="get" action="/gospel-2">
<button type="submit">kirk franklin</button>
</form>