<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
     <title>i am crYaNG</title>
    </head>
  <body>

<center><h2> Welcome to </h2>
<h1> i am crYaNG</h1>
<h4>choose food or music</h4>
<form method="get" action="/food">
<button type="submit">food</button>
</form>
<form method="get" action="/music">
<button type="submit">music</button>
</form>
</center>

  </body>
</html>