<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
     <title>Pre-Cut</title>
    </head>
  <body>

<center><h2> Welcome to </h2>
<h1>PRE-CUT</h1>
<h4>Choose food or music</h4>
<form method="get" action="/food">
<button type="submit">Food</button>
</form>
<form method="get" action="/music">
<button type="submit">Music</button>
</form>
</center>

  </body>
</html>