<h1> home page </h1>
<h2> iS tHe pOtAtO prE-cUt ?</h2>
<h4>choose food or music</h4>
<form method="get" action="/food">
<button type="submit">food</button>
</form>
<form method="get" action="/music">
<button type="submit">music</button>
</form>