<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Frank Sinatra</title></head>
  <body>

<h1>Frank Sinatra's Albums</h1>
<ul><li>Come Fly with Me</li>
<li>In the Wee Small Hours</li>
<li>Frank Sinatra Sings for Only the Lonely</li>
<li>Songs for Swingin' Lovers!</li>
<li>Frank Sinatra's Greatest Hits</li>
<li>Strangers in the Night</li>
<li>Come Dance with Me!</li>
<li>Nice 'n' Easy</li>
<li>Duets</li>
<li>A Swingin' Affair!</li>
<li>September of My Years</li>
<li>Songs for Young Lovers</li>
<li>Sinatra: Best of the Best</li>
<li>Sinatra at the Sands</li>
<li>Swing Easy!</li>
<li>Sinatra and Strings</li>
<li>Watertown</li>
<li>No One Cares</li>
<li>Sinatra's Swingin' Session!!!</li>
<li>The Voice of Frank Sinatra</li>
<li>L.A. Is My Lady</li>
<li>Duets II</li>
<li>That's Life</li>
<li>A Jolly Christmas from Frank Sinatra</li>
<li> Point of No Return</li>
<li>...and many momre</li></ul>
  </body>
</html>