<!DOCTYPE html>
<html lang="en">
  <head><title>title</title></head>
  <body>

<h1>jazz artists</h1>

<!--- nat king cole

frank sinatra--->

<form method="get" action="/jazz-1">
<button type="submit">nat king cole</button>
</form>
<form method="get" action="/jazz-2">
<button type="submit">frank sinatra</button>
</form>

  </body>
</html>