<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
     <link rel="icon" href="http://www.pngall.com/wp-content/uploads/2016/04/Potato-High-Quality-PNG.png">
    <title>Jazz Artists</title></head>
  <body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-grey-silver-gradient-backdrop_bujnrsxje_thumbnail-full01.png">
<center>
<h1>Jazz Artists</h1>

<!--- nat king cole

frank sinatra--->

<form method="get" action="/jazz-1">
<button type="submit">Nat King Cole</button>
</form>
<form method="get" action="/jazz-2">
<button type="submit">Frank Sinatra</button>
</form>
</center>
  </body>
</html>