<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Nat King Cole</title></head>
  <body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-grey-silver-gradient-backdrop_bujnrsxje_thumbnail-full01.png">
<center>
<h1>Nat King Cole's Albums</h1>
    <ul><li>Those Lazy-Hazy-Crazy Days of Summer</li>
    <li>Cole Español</li>
    <li>Love Is the Thing</li>
    <li>Dear Lonely Hearts</li>
    <li>Nat King Cole Sings/George Shearing Plays</li>
    <li>Where Did Everyone Go?</li>
    <li>Unforgettable</li>
    <li>King Cole for Kids</li>
    <li>Nat King Cole at the Piano</li>
    <li>I Don't Want to Be Hurt Anymore</li>
    <li>The Very Thought of You</li>
    <li> Nat King Cole Sings for Two in Love</li>
    <li>To Whom It May Concern</li>
    <li>The Piano Style of Nat King Cole</li>
    <li>Nat King Cole Sings My Fair Lady</li>
    <li>More Cole Español</li>
    <li>The Nat King Cole Story</li>
    <li>Nat King</li>
    <li>Ramblin' Rose</li>
    <li>Ballads of the Day</li>
    <li>Penthouse Serenade</li>
    <li>The World of Nat King Cole</li>
    <li>Nat 'King' Cole-Unforgettable</li>
    <li>...and many more</li></ul>
    </center>
    
  </body>
</html>