<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Jazz Artists</title></head>
  <body>

<h1>Jazz Artists</h1>

<!--- nat king cole

frank sinatra--->

<form method="get" action="/jazz-1">
<button type="submit">Nat King Cole</button>
</form>
<form method="get" action="/jazz-2">
<button type="submit">Frank Sinatra</button>
</form>

  </body>
</html>