<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Music</title></head>
 <body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-grey-silver-gradient-backdrop_bujnrsxje_thumbnail-full01.png">
<center>
<h1>Music</h1>
<h2>Choose a genre</h2>
<form method="get" action="/rnb-artists">
<button type="submit">R & B</button>
</form>
<form method="get" action="/gospel-artists">
<button type="submit">Gospel</button>
</form>
<form method="get" action="/pop-artists">
<button type="submit">Pop</button>
</form>
<form method="get" action="/jazz-artists">
<button type="submit">Jazz</button>
</form>
  </center>  
  </body>
</html>