<h1>pop artists</h1>

<!---michael jackson
adele--->

<form method="get" action="/pop-1">
<button type="submit">michael jackson</button>
</form>
<form method="get" action="/pop-2">
<button type="submit">adele</button>
</form>