<!DOCTYPE html>
<html lang="en">
  <head><title>title</title></head>
  <body>

<h1>adele</h1>
<ul><li>25</li>
<li>Greatest Hits</li>
<li>iTunes Festival: London 2011</li>
<li>21</li>
<li>iTunes Live from SoHo</li>
<li>1988</li>
<li>19 Live</li>
<li>19</li></ul>
    
  </body>
</html>