<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Micheal Jackson</title></head>
  <body>

<h1>Michael Jackson's Albums</h1>
<ul><li>Thriller</li>
<li>Bad</li>
<li>Dangerous</li>
<li>Off the Wall</li>
<li>HIStory: Past, Present and Future, Book I</li>
<li>Xscape</li>
<li>Invincible</li>
<li>Michael Jackson's This Is It</li>
<li>Got to Be There</li>
<li>Music & Me</li>
<li>Forever, Michael</li>
<li>Immortal</li>
<li>Twelves</li>
<li>Ben</li>
<li>E.T. the Extra-Terrestrial</li>
<li> Bad 25</li>
<li>Auckland 1996 (Live)</li>
<li>Michael ii</li>
<li>One Night in Japan</li>
<li>The Medleys</li></ul>
  </body>
</html>