<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
     <link rel="icon" href="http://www.pngall.com/wp-content/uploads/2016/04/Potato-High-Quality-PNG.png">
    <title>Adele</title></head>
  <body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-grey-silver-gradient-backdrop_bujnrsxje_thumbnail-full01.png">
<form method="get" action="/">
<button type="submit">Home</button>
</form>
<center>
<h1>Adele's Albums</h1>
<img src="https://media.giphy.com/media/FuDY0CptBF4hG/giphy.gif">
<ul><li>25</li>
<li>Greatest Hits</li>
<li>iTunes Festival: London 2011</li>
<li>21</li>
<li>iTunes Live from SoHo</li>
<li>1988</li>
<li>19 Live</li>
<li>19</li></ul>
 </center>   
  </body>
</html>