<h1>Beef and Swiss Wrap</h1>

<h2>Ingredients:</h2>
<li>2 multi grain wraps</li>
<li>2 tablespoons Neufchatel cheese</li>
<li>2 leaves romaine lettuce</li>
<l1>1 cup fresh spinach</l1>
<li>6 slices deli sliced roast beef</li>
