<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Regular Meals</title></head>
  <body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-grey-silver-gradient-backdrop_bujnrsxje_thumbnail-full01.png">
 <center>
<h1>Regular Meals</h1>

<form method="get" action="/regular-1">
<button type="submit">Beef and Swiss Wrap</button>
</form>
<form method="get" action="/regular-2">
<button type="submit">Lorraine's Club Sandwich</button>
</form>
</center>
  </body>
</html>