<!DOCTYPE html>
<html lang="en">
  <head><title>title</title></head>
  <body>
    
<h1>regular meals</h1>

<form method="get" action="/regular-1">
<button type="submit">beef and swiss wrap</button>
</form>
<form method="get" action="/regular-2">
<button type="submit">lorraine's club sandwich</button>
</form>

  </body>
</html>