<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Regular Meals</title></head>
  <body>
    
<h1>Regular Meals</h1>

<form method="get" action="/regular-1">
<button type="submit">Beef and Swiss Wrap</button>
</form>
<form method="get" action="/regular-2">
<button type="submit">Lorraine's Club Sandwich</button>
</form>

  </body>
</html>