<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Lorraine's Club Sandwich</title></head>
  <body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-grey-silver-gradient-backdrop_bujnrsxje_thumbnail-full01.png">
  <center>  
<h1>Lorraine's Club Sandwich</h1>
<img src="https://secure.i.telegraph.co.uk/multimedia/archive/02904/seasandwiches_2904020b.jpg">
<h2>Ingredients:</h2>
<li>2 slices bacon</li>
<li>3 slices bread, toasted</li>
<li>3 tablespoons mayonnaise</li>
<li>2 leaves lettuce</li>
<li>2 (1 ounce) slices cooked deli turkey breast</li>
<li>2 slices tomato</li>
<h2>Directions:</h2>
<ol>
  <li>Place bacon in a heavy skillet. Cook over medium high heat until evenly brown. Drain on paper towels.</li>
  <li>Spread each slice of bread with mayonnaise. On one slice of toast, place the turkey and lettuce. Cover with a slice of toast, then the bacon and tomato. Top with last slice of toast.</li>
</ol>
</center>
  </body>
</html>