<!DOCTYPE html>
<html lang="en">
 <head>
   <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="http://www.pngall.com/wp-content/uploads/2016/04/Potato-High-Quality-PNG.png">
   <title>Drake</title></head>
<body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-grey-silver-gradient-backdrop_bujnrsxje_thumbnail-full01.png">
<center>
<h1>Drake's Albums</h1>
<img src="https://media.giphy.com/media/8zT0D36Myf9C0/giphy-downsized-large.gif">
<ul><li>Scorpion</li>
<li>More Life</li>
<li>Views</li>
<li>What A Time To Be Alive</li>
<li>If You're Reading This It's Too Late</li>
<li>Nothing Was the Same</li>
<li>Take Care</li>
<li>Thank Me Later</li>
<li>So Far Gone</li></ul>
</center>
 </body>
</html>