<h1>r&b artists</h1>

<!--- beyonce
drake--->

<form method="get" action="/rnb-1">
<button type="submit">beyonce</button>
</form>
<form method="get" action="/rnb-2">
<button type="submit">drake</button>
</form>