<!DOCTYPE html>
<html lang="en">
 <head><title>Drake</title></head>
 <body>
<h1>Drake's Albums</h1>
<ul><li>Scorpion</li>
<li>More Life</li>
<li>Views</li>
<li>What A Time To Be Alive</li>
<li>If You're Reading This It's Too Late</li>
<li>Nothing Was the Same</li>
<li>Take Care</li>
<li>Thank Me Later</li>
<li>So Far Gone</li></ul>
 </body>
</html>