<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Beyonce</title></head>
 <body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-grey-silver-gradient-backdrop_bujnrsxje_thumbnail-full01.png">
<center>
<h1>Beyonce's Albums</h1>
<img src="https://media1.popsugar-assets.com/files/thumbor/k2mv1skxoPrDhqsvH1vzlSgRWmg/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2018/04/15/756/n/1922283/4404ba97cda31c96_Beyonce_GIF-downsized_large_1_/i/Beyonce-Coachella-Performance-GIFs.gif"></iframe></iframe>
<li>Lemonade</li>
<li>Dangerously In Love</li>
<li>4</li>
<li>B'Day</li>
<li>I Am... Sasha Fierce</li>
<li>Beyonce</li>
</center>
  </body>
</html>