<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Pop Artists</title></head>
  <body>


<h1>R & B Artists</h1>

<!--- beyonce
drake--->

<form method="get" action="/rnb-1">
<button type="submit">Beyonce</button>
</form>
<form method="get" action="/rnb-2">
<button type="submit">Drake</button>
</form>

  </body>
</html>