<!DOCTYPE html>
<html lang="en">
  <head><title>Beyonce's Albums</title></head>
  <body>
<h1>Beyonce's Albums</h1>
<li>Lemonade</li>
<li>Dangerously In Love</li>
<li>4</li>
<li>B'Day</li>
<li>I Am... Sasha Fierce</li>
<li>Beyonce</li>
<li></li>


  </body>
</html>