<!DOCTYPE html>
<html lang="en">
 <head>
   <link rel="stylesheet" href="css/style.css">
   <title>Homemade Veggie Pizza</title></head>
<body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-grey-silver-gradient-backdrop_bujnrsxje_thumbnail-full01.png">
  <center>
  <h1>Homemade Veggie Pizza</h1>
  <img src="http://cdn-image.myrecipes.com/sites/default/files/styles/medium_2x/public/veggie-pizza-cauliflower-crust-ck.jpg?itok=kcQ06-ux">
  <h2>Recipe: Ingredients</h2>
  <h3>20 Mintues to Make</h3>
  <li>1 cup of spinach</li>
  <li>1/2 cup of broccoli</li>
  <li>3 cloves of chopped garlic</li>
  <li>1 Trader Joe’s organic pizza crust</li>
  <li>2 tablespoons of pizza sauce</li>
  <li>1/2 cup of grated mozzarella</li>
  <li>1/4 teaspoon of olive oil</li>
  <h2>Recipe: Preparation</h2>
  <li>Preheat oven to 425</li>
  <li>Chop garlic, onion and veggies into smaller pieces and sauté in olive oil for 3 to 5 minutes or until they become a pretty bright green</li>
  <li>Add pizza sauce to crust</li>
  <li>Add fresh veggies</li>
  <li>Add cheese</li>
  <li>Bake for 12 to 15 minutes</li>
  <li>Add garlic salt and fresh cracked black pepper to taste. Enjoy!</li>
  </center>
 </body>
</html>