<!DOCTYPE html>
<html lang="en">
 <head>
   <link rel="stylesheet" href="css/style.css">
   <title>Thai Green Salad With Tofu</title></head>
 <body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-grey-silver-gradient-backdrop_bujnrsxje_thumbnail-full01.png">
   <center>
 <h1>Thai Green Salad with Tofu</h1>  
 <h2>Recipe Ingredients:</h2>
  <li>1 tablespoon neutral flavor oil (such as avocado, grapeseed or sunflower)</li>
  <li>16 oz extra firm high protein tofu, diced small</li>
  <li>2 tsp soy sauce</li>
  <li>1/2 tsp garlic powder</li>
  <li>1/2 tsp onion powder</li>
  <li>1/2 tsp ginger powder</li>
  <li>1lb green papaya, shredded ( about 4 cups)  see note on how to cut green papaya)</li>
  <li>2 cups shredded carrots</li>
  <li>1 cup diced cucumbers</li>
  <li>1/2 pint grape tomatoes, sliced in half</li>
  <li>1/4 cup shelled peanuts</li>
  <li>1 bunch cilantro leaves (optional)</li>
  <h2>Recipe Preparation:</h2>

  <li>Heat the oil in a large skillet over high heat</li>
  <li>Combine the diced tofu and soy sauce in a large bowl and toss well.</li>
  <li>Add garlic, onions and ginger powders and toss again to coat</li>
  <li>Reduce the heat to medium, add the tofu to the skillet and cook for 1 minute.</li>
  <li>Toss well and cook for an additional 3-4 minutes, or until all sides are golden.</li>
  <li>To assemble the salad, combine the cooked tofu with the shredded green papaya, carrots, cucumbers and tomatoes.</li>
  <li>Add the peanut sauce and toss well</li>
  <li>Top with peanuts and cilantro leaves before serving</li>
 </center>
 </body>
</html>