<h1>vegan meals</h1>
<!---eggplant and chickpea curry

thai green salad with tofu--->

<form method="get" action="/vegan-1">
<button type="submit">eggplant and chickpea curry</button>
</form>
<form method="get" action="/vegan-2">
<button type="submit">thai green salad with tofu</button>
</form>