<!DOCTYPE html>
<html lang="en">
 <head>
   <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="http://www.pngall.com/wp-content/uploads/2016/04/Potato-High-Quality-PNG.png">
   <title>Eggplant and Chickpea Curry</title></head>
 <body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-grey-silver-gradient-backdrop_bujnrsxje_thumbnail-full01.png">
 <center>
 <h1>Eggplant and Chickpea Curry</h1>
 <img src="https://assets.bonappetit.com/photos/5808eaaf3bfa45d651a535c5/16:9/w_1200,c_limit/chickpea-and-eggplant-curry-with-mint-chutney.jpg">
 <h2>Recipe: Ingredients</h2>
  <li>1 tbsp coconut oil</li>
  <li>1 medium onion, thinly sliced</li>
  <li>3-4 cloves garlic, minced</li>
  <li>1 tbsp fresh ginger, minced</li>
  <li>1 tbsp curry powder</li>
  <li>1 tsp cumin</li>
  <li>1/2 tsp turmeric</li>
  <li>1/4 tsp cayenne pepper</li>
  <li>1/2 tsp salt</li>
  <li>1 medium eggplant, chopped into 1" cubes</li>
  <li>4 cups cherry tomatoes, halved</li>
  <li>1 can chickpeas, drained and rinsed</li>
  <li>1 1/2 cup vegetable broth</li>
  <li>1/4 fresh cilantro, for garnish</li>
  <li>1 cup uncooked rice</li>
  <h2>Recipe: Preparation</h2>
  <li>Cook rice according to package instructions. This will differ depending on what kind of rice you choose.</li> 
  <li>Heat the oil in a large soup pot over medium heat.</li><li>Add onions and sauté, stirring occasionally, for 5-7 minutes, until onions are fragrant and translucent.</li><li>Add garlic and ginger and sauté for another minute.</li>
  <li>Add curry powder, cumin, turmeric, cayenne pepper, and salt, stirring to coat the garlic/onion mixture.</li>
  <li>Add eggplant, tomatoes, chickpeas, and vegetable broth. Bring to a light simmer and simmer, uncovered, for 20-25 minutes until tomatoes and eggplant are cooked and about 1/2 the liquid has been absorbed. </li>
  <li>Serve over rice with fresh cilantro.</li>
  </center>
 </body>
</html>