<!DOCTYPE html>
<html lang="en">
 <head>
   <link rel="stylesheet" href="css/style.css">
   <title>Vegan Meals</title></head>
 <body>

<h1>Vegans Meals</h1>
<!---eggplant and chickpea curry

thai green salad with tofu--->

<form method="get" action="/vegan-1">
<button type="submit">Eggplant and Chickpea Curry</button>
</form>
<form method="get" action="/vegan-2">
<button type="submit">Thai Green Salad with Tofu</button>
</form>

</body>
</html>