<!DOCTYPE html>
<html lang="en">
 <head>
   <link rel="stylesheet" href="css/style.css">
   <title>Vegetarian meals</title></head>
 <body>

<h1>Vegetarian Meals</h1>
<!---simple spinach lasgna

homemade veggie pizza--->

<form method="get" action="/veg-1">
<button type="submit">Simple Spinach Lasagna</button>
</form>
<form method="get" action="/veg-2">
<button type="submit">Homemade Veggie Pizza</button>
</form>