<h1>vegetarian meals</h1>
<!---simple spinach lasgna

homemade veggie pizza--->

<form method="get" action="/veg-1">
<button type="submit">simple spinach lasagna</button>
</form>
<form method="get" action="/veg-2">
<button type="submit">homemade veggie pizza</button>
</form>